@font-face {
  font-family: "gilroy-extrabold";
  src: url("../fonts/Gilroy-ExtraBold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-light";
  src: url("../fonts/Gilroy-Light.otf");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f9fcfe;
  height: 100vh;
}

#root {
  height: 100%;
}

label,
small {
  color: #999ab8;
}

.navbar {
  position: fixed;
  z-index: 1000;
  padding-left: 5%;
}

.navLogo {
  color: #524fa4;
  font-family: "gilroy-extrabold";
  font-size: x-large;
  letter-spacing: 1px;
  cursor: pointer;
}

.blob {
  height: 1500px;
  width: 1500px;
  position: fixed;
  bottom: -400px;
  right: -200px;
}

.navLogo:hover {
  text-decoration: none;
  color: #524fa4;
}

.navLogo span {
  color: #f95680;
}

.landingBtn {
  background: linear-gradient(
    90deg,
    rgba(240, 129, 108, 1) 0%,
    rgba(223, 53, 85, 1) 100%
  );
  border: none;
  font-family: "Rationale", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.landingBtn:hover {
  opacity: 0.5;
}

.landingTitle {
  font-family: "gilroy-extrabold";
  font-size: 90px;
  margin: 0;
  letter-spacing: 4px;
}

.landingTitleColor1 {
  color: #6476d2;
  margin-bottom: -30px;
}

.landingTitleColor2 {
  color: #8d9be2;
}

.landingRing {
  height: 1300px;
  width: 1300px;
  position: fixed;
  top: -650px;
  left: -650px;
}

.landingRing g {
  fill: #e9f4fd;
}

.registerCard {
  width: 50%;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

.MuiFormLabel-root.Mui-focused {
  color: #f0816c !important;
}

.MuiInput-underline::after {
  border-bottom: 2px solid #f0816c !important;
}

.registerTitle {
  font-family: "gilroy-extrabold";
  font-size: 6vh;
}

.earthRegister {
  top: -63px !important;
  left: 174px !important;
  position: relative !important;
}

@media (max-width: 575.98px) {
  .registerCard {
    width: 100%;
  }

  .covidContainer {
    display: none !important;
  }

  .blob {
    display: none !important;
  }

  .landingTitle {
    font-size: 80px;
  }
}

@media (max-width: 767.98px) {
  .covidContainer {
    display: none !important;
  }

  .blob {
    display: none !important;
  }
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}
