@font-face {
  font-family: "gilroy-extrabold";
  src: url("../fonts/Gilroy-ExtraBold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-light";
  src: url("../fonts/Gilroy-Light.otf");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f9fcfe;
  height: 100vh;
}

#root {
  height: 100%;
}

label,
small {
  color: #999ab8;
}

.mapMarker {
  height: 100px;
  width: 100px;
  background-color: red;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  padding-left: 5%;
  width: 100%;
}

h1 {
  font-family: "gilroy-extrabold";
}

.customBg {
  background-color: #f9fcfe !important;
}

.dash-blob-1 {
  position: fixed;
  bottom: -500px;
  right: -413px;
  z-index: -100;
  height: 1000px;
  width: 1000px;
}

.navLogo {
  color: #524fa4;
  font-family: "gilroy-extrabold";
  font-size: x-large;
  letter-spacing: 1px;
  cursor: pointer;
}

.blob {
  height: 1500px;
  width: 1500px;
  position: fixed;
  bottom: -400px;
  right: -200px;
}

.navLogo:hover {
  text-decoration: none;
  color: #524fa4;
}

.navLink {
  color: #524fa4;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
}

.sep::after {
  content: "\00007C";
  margin-left: 15px;
  margin-right: 15px;
}

.navLink:hover {
  color: #6476d2;
  text-decoration: underline;
}

.sep:hover::after {
  color: #524fa4;
}

.navLogo span {
  color: #f95680;
}

.landingBtn {
  background: linear-gradient(
    90deg,
    rgba(240, 129, 108, 1) 0%,
    rgba(223, 53, 85, 1) 100%
  );
  border: none;
  font-family: "Rationale", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.locationBtn {
  background: linear-gradient(
    90deg,
    rgb(108, 240, 166) 0%,
    rgb(53, 223, 103) 100%
  );
  border: none;
  font-family: "Rationale", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.landingBtn:hover,
.locationBtn:hover {
  opacity: 0.5;
}

.landingTitle {
  font-family: "gilroy-extrabold";
  font-size: 90px;
  margin: 0;
  letter-spacing: 4px;
}

.landingTitleColor1 {
  color: #6476d2;
}

.landingMarginBot {
  margin-bottom: -30px;
}

.landingTitleColor2 {
  color: #8d9be2;
}

.landingRing {
  height: 1300px;
  width: 1300px;
  position: fixed;
  top: -650px;
  left: -650px;
  z-index: -100;
}

.landingRing g {
  fill: #e9f4fd;
}

.registerCard {
  width: 50%;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

.maj * {
  text-transform: capitalize;
}

.tableH {
  height: 61vh;
}

.redHover:hover {
  color: #fb83a2;
}

.redHover {
  color: #f95680;
}

.MuiFormLabel-root.Mui-focused {
  color: #524fa4 !important;
}

.MuiInput-underline::after {
  border-bottom: 2px solid #524fa4 !important;
}

.registerTitle {
  font-family: "gilroy-extrabold";
  font-size: 6vh;
}

.earthRegister {
  top: -63px !important;
  left: 174px !important;
  position: relative !important;
}

@media (max-width: 575.98px) {
  .registerCard {
    width: 100%;
  }

  .covidContainer {
    display: none !important;
  }

  .blob {
    display: none !important;
  }

  .landingTitle {
    font-size: 80px;
  }

  .dashResp {
    flex-direction: column;
  }

  .dashResp2 {
    display: contents;
  }

  .dashResp2 .locationBtn {
    margin-left: 0 !important;
    margin-top: 5px;
  }

  .dashResp2 .landingBtn {
    margin-left: 0 !important;
    margin-top: 5px;
  }
}

@media (max-width: 767.98px) {
  .covidContainer {
    display: none !important;
  }

  .blob {
    display: none !important;
  }
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}
